@import "../../App.scss";
@import "./SideNavStyle.scss";

.navbarMain{
    // position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        min-width: 8%;
        display: flex;
        align-items: center;
        
        img{
            cursor: pointer;
            height: 34px;
            width: 76px;
        }
    }

    .searchbar{
        min-width: 60%;
        
        input{
            font-size: 12px;
            min-width: 100%;
            height: 30px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding: 0px 10px;
            outline: none;
        }
    }

    .menubar{
        cursor: pointer;
        border: 1px solid lightgrey;
        background: transparent;
        border-radius: 5px;
        display: none;
        padding: 3px 4px 3px;
        font-size: 20px;

        &:hover{
            background-color: lightcyan;
        }
    }
    .profile{
        display: flex;
        gap: 20px;
        
        .badge{
            cursor: pointer;
            margin: 6px 0px 0 0;
            font-size: 20px;

            span{
                top: 4px;
            }

        }
        .bell{
            font-size: 20px;
            // padding-top: 5px ;
        }
    }
}

@media screen and (max-width: 1280px) {
    .navbarMain{
   
        .searchbar{
            min-width: 58%;
          
        }
    }
}
    

@media screen and (max-width: 1100px ){
    .navbarMain{
     
        .menubar{
            display: flex;
        }

        .profile{
            display: none;
        }
    }
}

@media screen and (max-width: 950px ){
    .navbarMain{
   
        .searchbar{
            min-width: 55%;
          
        }
    }
}

@media screen and (max-width: 740px ){
    .navbarMain{
      

        .searchbar{
            min-width: 50%;
        
        }
     
    }
}

@media screen and (max-width: 500px){
    .navbarMain{

        .searchbar{
            min-width: 5%;
           
        }
    }
}