@import "../../App.scss";

.navbar{
    // height: 50px;
    width: 100%;
    padding: 10px 20px;
    background-color: aliceblue;

    .navbarMain{

        display: flex;
        gap: 20px;
        justify-content: space-between;

        .logo{
            width: 200px;
           
            img{
                height: 34px;
                width: 76px;
            }
        }

        .searchbar{
            padding-top: 2px;
            width: 650px;
            
        
            input{
                font-size: 12px;
                width: inherit;
                height: 30px;
                border: 1px solid snow;
                border-radius: 5px;
                padding: 5px 10px;
                outline: none;
            }
        }
        .profile{
            // padding: 5px 0;
            .mail{
                margin: 8px 5px 0 0;
            }
            .bell{
                font-size: 30px;
                padding-top: 5px ;
            }
        }
    }
}