$primary: #ffffff;
$secondary: #fafafa;


*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}