$primary: #ffffff;
$secondary: #fafafa;


*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
    

// @mixin xl {
    @media screen and (min-width: 1280px ){
        .container{
            max-width: 1180px;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 1280px ){
        .container{
            max-width: 1080px;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 1100px ){
        .container{
            max-width: 900px;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 920px ){
        .container{
            max-width: 720px;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 740px ){
        .container{
            max-width: 540px;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 570px ){
        .container{
            max-width: 430px;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 460px ){
        .container{
            max-width: 330px;
            margin: 0 auto;
        }
    }
// }
